html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Noto", sans-serif;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

nav {
  background-color: #283593;
  height: 54px;
  padding: 16px 0 16px 1em;
  box-sizing: border-box;
  white-space: nowrap;
}

nav > a {
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  letter-spacing: .075em;
  margin-right: 0.5em;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.views {
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.views > * {
  padding: 1rem;
}

.loading {
  text-align: center;
}

.loading > * {
  animation: pulse 1s infinite ease-in-out;
  will-change: opacity, transform;
  display: inline-block;
  padding: 64px;
}

.hn-top .top, .hn-new .new, .hn-ask .ask, .hn-show .show, .hn-jobs .jobs {
  color: #f5d328;
}

a {
  color: currentColor;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li:first-of-type {
  padding-top: 0;
}

li {
  display: flex;
  padding: 8px 0;
  overflow-wrap: break-word;
  border-color: hsl(0, 0%, 93%);
  border-bottom-style: solid;
  border-width: 1px;
}

.title {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title > a {
  text-decoration: none;
}

.index {
  font-weight: bold;
  color: hsl(0, 0%, 40%);
  align-self: center;
  min-width: 1em;
  text-align: right;
}

.info, .domain {
  color: hsl(0, 0%, 40%);
}

.domain {
  padding-left: 4px;
  word-break: break-all;
}

.info {
  font-size: 0.75rem;
  padding-top: 8px;
}

.info > a {
  color: hsl(0, 0%, 40%);
  padding: 0 4px;
}

.spacer {
  padding-right: .5em;
}

.forwardback {
  display: flex;
  align-items: baseline;
  padding-top: 16px;
}

.forwardback > a {
  text-decoration: none;
}

.forwardback > span {
  flex: 1;
  text-align: center;
}

.star-container {
  margin: auto;
}

.star {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  outline: none;
  vertical-align: text-bottom;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
